<!-- ติดตาม-สถานะ-->
<mat-card>
  <div  style="padding: 0px !important;">
    <div class="row align-items-center px-2" style="height: 56px">
      <div class="col-12" style="margin-bottom: 4px;">
        <span class="mat-headline-5 reh-txt-blue900">ติดตาม-สถานะ</span>
        <span class="mat-headline-5 reh-txt-green blinking-text"> อัปเดตทุก 30 วินาที</span>
      </div>
    </div>
    <mat-divider>
    </mat-divider>
    <!-- <pre>
      {{ data | json}}
    </pre> -->
    <div class="row">
      <div class="col-12">
        <section class="example-container" tabindex="0">
          <table mat-table class="monitor" [dataSource]="dataSource">
            <ng-container matColumnDef="status_work">
              <th mat-header-cell *matHeaderCellDef style="width: 96px; text-align: center;">
                <span class="mat-subtitle-2">สถานะ</span>
              </th>
              <td mat-cell *matCellDef="let element"

              [class]="{
                'bg-txt-green' : element.ed_date != '-' && element.sd_date != '-' && element.go_date != '-' && element.rd_date != '-' && element.status_work == '0',
                'bg-txt-orange' : element.ed_date == '-' && element.sd_date != '-' && element.go_date != '-' && element.rd_date != '-' && element.status_work == '0',
                'bg-txt-blue' : element.ed_date == '-' && element.sd_date == '-' && element.rd_date != '-' && element.go_date != '-' && element.status_work == '0',
                'bg-txt-red' : element.status_work == '1',

              }"

              >

                @if(element.ed_date != '-' && element.sd_date != '-' && element.go_date != '-' && element.rd_date != '-' && element.status_work == '0'){
                  <div class="row">
                    <div class="col-12">
                      <span class="mat-subtitle-2">ปิดงาน</span>
                    </div>
                    <div class="col-12">
                      <span class="mat-subtitle-2"> [{{calculateTimeDifferenceInMinutes(element.go_date,element.go_time,element.ed_time)}} น.]</span>
                    </div>
                  </div>
                }@else if (element.ed_date == '-' && element.sd_date != '-' && element.go_date != '-' && element.rd_date != '-' && element.status_work == '0') {
                  <span class="label mat-subtitle-2 blinking-text" >รับผู้ป่วย</span>
                }@else if ( element.ed_date == '-' && element.sd_date == '-' && element.rd_date != '-' && element.go_date != '-' && element.status_work == '0') {
                  <span class="label mat-subtitle-2 blinking-text" >รับงาน</span>
                }@else if(element.ed_date != '-' && element.sd_date != '-' && element.go_date != '-' && element.rd_date != '-'  && element.status_work == '1'){
                  <span class="label mat-subtitle-2" >ยกเลิก</span>
                }
              </td>
            </ng-container>

            <ng-container matColumnDef="go_datetime">
              <th mat-header-cell *matHeaderCellDef style="width: 96px;">
                <span class="mat-subtitle-2">วันที่แจ้ง</span>
              </th>
              <td mat-cell *matCellDef="let element" class="lj-txt-dot">
                <div class="row">
                  <div class="col-12">
                    <span class="mat-subtitle-2">ชื่อ-สกุล: </span> <span class="mat-subtitle-1">{{element.od_rem }}</span>
                  </div>
                  <div class="col-12">
                    <span class="mat-subtitle-2">วันที่: </span> <span class="mat-subtitle-1">{{formatDateThai(element.go_date) }}</span>
                  </div>
                  <div class="col-12">
                    <span class="mat-subtitle-2">เวลา: </span> <span classs="mat-subtitle-1">{{ element.go_time }}</span>
                  </div>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="go_time">
              <th mat-header-cell *matHeaderCellDef style="width: 256px;" ><span class="mat-subtitle-2">รับงาน/รับผู้ป่วย/ส่งผู้ป่วย</span></th>
              <td mat-cell *matCellDef="let element">
                <div class="row" style="width: 256px">
                  <div class="col-12">
                    <span class="mat-subtitle-2">จนท: </span> <span classs="mat-subtitle-1">{{ element.wk_pername }}</span>
                  </div>
                  <div class="col-12">
                    <span class="mat-subtitle-2">อุปกรณ์: </span> <span classs="mat-subtitle-1">{{ element.equip_name }}</span>
                  </div>
                  <div class="col-12">
                    @if(element.status_work == '1'){
                      <span class="mat-subtitle-2">สาเหตุ: </span> <span class="mat-subtitle-1">{{element.comment}}</span>
                    }@else {
                      <span class="mat-subtitle-2">เวลา: </span> <span class="mat-subtitle-1">{{element.rd_time}}/{{element.sd_time}}/{{element.ed_time}}</span>
                    }
                  </div>
                </div>

                <!-- <span class="mat-subtitle-1"> {{element.rd_time}}/{{element.sd_time}}/{{element.ed_time}}</span> -->
              </td>
            </ng-container>

            <ng-container matColumnDef="quick">
              <th mat-header-cell *matHeaderCellDef style="text-align: center" style="width: 72px;">
                <span class="mat-subtitle-2">ประเภท</span>
              </th>
              <td mat-cell *matCellDef="let element" style="width: 72px"
                [class]="{
                  'bg-txt-green' : element.quick == 1,
                  'bg-txt-yellow' : element.quick == 2,
                  'bg-txt-orange' : element.quick == 3,
                  'bg-txt-red' : element.quick == 4,
                }">

                <span class="label mat-subtitle-1">{{ element.quick_name.slice(0,12) }}</span>

              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="quick">
              <th mat-header-cell *matHeaderCellDef style="text-align: center" style="width: 264px;">
                <span class="mat-subtitle-2">ประเภท</span>
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-chip
                  style="width: 264px"
                  [class]="{
                    'reh-chip-green' : element.quick == 1,
                    'reh-chip-yellow' : element.quick == 2,
                    'reh-chip-orange' : element.quick == 3,
                    'reh-chip-red' : element.quick == 4,
                  }"
                >
                  <span class="label mat-subtitle-1">{{ element.quick_name }}
                    [{{element.type_oi}}]</span>
                </mat-chip>
              </td>
            </ng-container> -->



            <!-- <ng-container matColumnDef="name_equip">
              <th mat-header-cell *matHeaderCellDef style="width: 256px;">
                <span class="mat-subtitle-2">ชื่อ-อุปกรณ์</span>
              </th>
              <td mat-cell *matCellDef="let element" class="lj-txt-dot">
                <div class="row">
                  <div class="col-12">
                    <span class="mat-subtitle-2">ชื่อ-สกุล: </span> <span class="mat-subtitle-1">{{element.od_rem }}</span>
                  </div>
                  <div class="col-12">
                    <span class="mat-subtitle-2">อุปกรณ์: </span> <span classs="mat-subtitle-1">{{ element.equip_name }}</span>
                  </div>
                </div>
              </td>
            </ng-container> -->

            <ng-container matColumnDef="wcode_staname">
              <th mat-header-cell *matHeaderCellDef style="width: 200px;">
                <span class="mat-subtitle-2">รับ-ส่ง</span>
              </th>
              <td mat-cell *matCellDef="let element" class="lj-txt-dot">
                <div class="row">
                  <div class="col-12">
                    <span class="mat-subtitle-2">รับ: </span> <span class="mat-subtitle-1">{{ element.wcode_staname }}</span>
                  </div>
                  <div class="col-12">
                    <span class="mat-subtitle-2">ส่ง: </span> <span classs="mat-subtitle-1">{{ element.wcode_stoname }}</span>
                  </div>

                  <div class="col-12">
                    <span class="mat-subtitle-2">ประเภท: </span> <span classs="mat-subtitle-1">{{ element.type_oi }}</span>
                  </div>
                </div>
              </td>
            </ng-container>





            <ng-container matColumnDef="star" stickyEnd >
              <th mat-header-cell *matHeaderCellDef aria-label="row actions" style="text-align: center;width: 56px;" class="mat-subtitle-2">#</th>
              <td mat-cell *matCellDef="let element" >
                <div class="row">
                  <div class="col-12">
                    @if(element.ed_date != '-'){
                      <button mat-mini-fab   matTooltip="ดูข้อมูล" class='reh-btn-blue' (click)="openDialogConfirm(element.id)">
                        <mat-icon fontSet="material-icons-outlined" >visibility</mat-icon>
                      </button>
                    }@else {
                      <button mat-mini-fab   matTooltip="ปิดงาน" class='reh-btn-green' (click)="openDialogConfirm(element.id)" >
                        <mat-icon fontSet="material-icons-outlined" >system_security_update_good</mat-icon>
                      </button>
                    }

                  </div>

                </div>


              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr
              mat-row

              *matRowDef="let row; columns: displayedColumns"
            ></tr>
          </table>
        </section>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-12">
        <section class="example-container" tabindex="0">
          <table class="monitor" mat-table [dataSource]="dataSourceMoni">
            <ng-container matColumnDef="status" >
              <th mat-header-cell *matHeaderCellDef style="text-align: center;width: 84px;"> <span class="mat-subtitle-2">ประเภท</span> </th>
              <td mat-cell *matCellDef="let element">
                  <mat-chip style="width: 84px;" [class]="{
                    'reh-chip-green' : element.status_id == 2,
                    'reh-chip-blue' : element.status_id == 1
                  }">
                    <span class="label mat-subtitle-1" >{{element.status}}</span>
                  </mat-chip>

              </td>
            </ng-container>

            <ng-container matColumnDef="type" >
              <th mat-header-cell *matHeaderCellDef style="text-align: center;width: 124px;"> <span class="mat-subtitle-2">ประเภท</span> </th>
              <td mat-cell *matCellDef="let element">
                  <mat-chip style="width: 124px;" [class]="{
                    'reh-chip-green' : element.type_id == 1,
                    'reh-chip-yellow' : element.type_id == 2,
                    'reh-chip-orange' : element.type_id == 3,
                    'reh-chip-red' : element.type_id == 4,
                  }">
                    <span class="label mat-subtitle-1">{{element.type}}</span>
                  </mat-chip>

              </td>
            </ng-container>
            <ng-container matColumnDef="date" >
              <th mat-header-cell *matHeaderCellDef style="width: 124px;"> <span class="mat-subtitle-2">จ่ายงาน</span> </th>
              <td mat-cell *matCellDef="let element">
                <span class="mat-subtitle-2"> {{element.time}}</span>

              </td>
            </ng-container>
            <ng-container matColumnDef="date_end" >
              <th mat-header-cell *matHeaderCellDef style="width: 124px;"> <span class="mat-subtitle-2">ปิดงาน</span> </th>
              <td mat-cell *matCellDef="let element">
                <span class="mat-subtitle-2"> {{element.time_end}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="officer" >
              <th mat-header-cell *matHeaderCellDef style="width: 200px;"> <span class="mat-subtitle-2">จนท.เปล</span> </th>
              <td mat-cell *matCellDef="let element" class="lj-txt-dot"> <span class="mat-subtitle-1">{{element.officer}} </span></td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef style="width: 200px;"><span class="mat-subtitle-2">ชื่อ-สกุล</span></th>
              <td mat-cell *matCellDef="let element" class="lj-txt-dot"> <span class="mat-subtitle-1">{{ element.name }}</span> </td>
            </ng-container>


            <ng-container matColumnDef="equipment">
              <th mat-header-cell *matHeaderCellDef style="width: 158px;"> <span class="mat-subtitle-2">อุปกรณ์</span> </th>
              <td mat-cell *matCellDef="let element" class="lj-txt-dot"> <span class="mat-subtitle-1">{{ element.equipment }}</span> </td>
            </ng-container>

            <ng-container matColumnDef="in">
              <th mat-header-cell *matHeaderCellDef  style="width: 256px;"> <span class="mat-subtitle-2">รับ-ส่ง</span> </th>
              <td mat-cell *matCellDef="let element" class="lj-txt-dot">
                <div class="row">
                  <div class="col-12">
                    <span class="mat-subtitle-2">รับ: </span> <span class="mat-subtitle-1">{{ element.in }}</span>
                  </div>
                  <div class="col-12">
                    <span class="mat-subtitle-2">ส่ง: </span> <span classs="mat-subtitle-1">{{ element.out }}</span>
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="star" stickyEnd>
              <th mat-header-cell *matHeaderCellDef aria-label="row actions" style="text-align: center;"><span class="mat-subtitle-2">#</span></th>
              <td mat-cell *matCellDef="let element">
                <div class="row">
                  <div class="col-12">
                    <button mat-mini-fab   matTooltip="ปิดงาน" [class]="element.status_id == 2 ? 'reh-btn-green disabled':'reh-btn-green'" (click)="openDialogConfirm()" [disabled]="element.status_id == 2 ? true: false">
                      <mat-icon fontSet="material-icons-outlined" >system_security_update_good</mat-icon>
                    </button>
                  </div>

                </div>
              </td>
            </ng-container>



            <tr mat-header-row  *matHeaderRowDef="displayedColumnsMoni; sticky: true"></tr>
            <tr mat-row  class="example-element-row"   *matRowDef="let row; columns: displayedColumnsMoni;">

            </tr>
          </table>
        </section>
      </div>
    </div> -->
  </div>
</mat-card>

