
<div class="row">
  <div class="col-12">
    <span class="mat-headline-5 reh-txt-blue900">ขอใช้เปล : {{this.wardName()}} ประจำวันที่ : {{formatDateThai(this.currentDateTime())}}</span>
  </div>
</div>

<div class="row">
  <!-- รับ-จ่ายงาน -->
   <!-- TODO List get test -->
  <div class="col-lg-4 col-md-12 mb-3">
    <app-accessible-list-getjob
      [dataGetJob]="dataGetJob"
      (messageChange)="messageChange($event)"
    />
  </div>

  <!-- ติดตาม-สถานะ-->

  <div class="col-lg-8 col-md-12 mb-3">
    <app-accessible-list-monitor
    [dataMonitor]="dataMonitor"

    (messageChange)="messageChange($event)"
    />
  </div>
</div>


