@import '../../../../theme.scss';

.example-container {
  height: calc(100vh - 236px);
  overflow: auto;
}

.reh-container-scroll {
  // height: calc(100vh - 236px);
  overflow: auto;
}

table.accept {
  width: 720px;
}

.centered-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

td.mat-column-type {
  width: 36px;
  padding-right: 8px;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
  cursor: pointer;
}

.bg-txt-green {
  background-color: var(--green-color) !important;
  color:#fff !important;
  text-align: center;
}

.bg-txt-red {
  background-color: var(--red-color) !important;
  text-align: center;
  color:#fff !important;
}



