<!-- Header -->
<mat-toolbar class="mat-elevation-z3" color="primary">
  <a
    mat-icon-button
    #toggleButton
    (click)="isMenuOpened.set(!isMenuOpened())"
    [matTooltip]="!isMenuOpened() ? 'ขยายเมนู' : 'ยุบเมนู'"
    matTooltipPosition="below"
  >
    <mat-icon>menu</mat-icon>
  </a>

  <span style="margin-left: 12px" class="title_logo">{{titleApp}}</span>
  <span class="reh-spacer"></span>

  <button
    mat-icon-button
    [matMenuTriggerFor]="avatarMenu"
    matTooltip="บัญชี"
    matTooltipPosition="below"
  >
    <img src="/assets/images/account.png" alt="Avatar" class="avatar" />
  </button>
</mat-toolbar>

@if(loading){
  <mat-progress-bar
    mode="indeterminate"
    color="accent"
    style="position: sticky; bottom: 0; left: 0; width: 100%;">
  </mat-progress-bar>
}


<mat-menu #avatarMenu="matMenu">

  <div class="reh-profile-content">
    <img
      src="/assets/images/account.png"
      alt="Avatar"
      class="avatar reh-profile-avatar"
    />
    <div class="reh-profile-content-title">
      <label class="mat-subtitle-2">{{ defaultAccount.userName }}</label>
      <label class="mat-subtitle-1 mb-0">{{ defaultAccount.levelApp }}</label>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- <button mat-menu-item>
    <mat-icon class="material-icons-outlined">person</mat-icon>
    <span>ข้อมูลส่วนตัว</span>
  </button>
  <button mat-menu-item>
    <mat-icon class="material-icons-outlined">settings</mat-icon>
    <span>การตั้งค่า</span>
  </button> -->
  <button mat-menu-item (click)="logout()">
    <mat-icon class="material-icons-outlined">logout</mat-icon>
    <span>ออกจากระบบ</span>
  </button>
</mat-menu>
<!-- ./Header -->

<!-- SideBar SM -->
@if(this.isBackDrop()){
<mat-drawer-container [hasBackdrop]="true" autosize>
  <mat-drawer
    mode="over"
    [opened]="isMenuOpened()"
    (opened)="onDrawerOpened()"
    (closed)="onDrawerClosed()"
    autoFocus="false"
  >
    <custom-sidenav-sm [collapsed]="isMenuOpened()" />
  </mat-drawer>
  <mat-drawer-content class="reh-content" >

      <div class="container-fluid" style="padding-right: 0px !important; padding-left: 0px !important;">
        <router-outlet></router-outlet>
      </div>


      <!-- <div class="footer-content bg-light text-muted fw-bold">
        © 2024 ศูนย์คอมพิวเตอร์​ รพ.ร้อยเอ็ด (v.1.0)
      </div> -->


  </mat-drawer-content>
</mat-drawer-container>
}@else{
<!-- SideBar LG -->
<mat-sidenav-container [hasBackdrop]="isBackDrop()" autosize>
  <mat-sidenav
    mode="side"
    opened
    (opened)="onDrawerOpened()"
    (closed)="onDrawerClosed()"
    [style.width]="sidenavWidth()"
  >
    <app-custom-sidenav [collapsed]="isMenuOpened()" />
  </mat-sidenav>
  <mat-sidenav-content  class="reh-content"  [style.margin-left]="sidenavWidth()">

      <div class="container-fluid " style="padding-right: 0px !important; padding-left: 0px !important;">
        <router-outlet></router-outlet>
      </div>

    <!-- <div class="footer-content bg-light text-muted fw-bold">
      © 2024 ศูนย์คอมพิวเตอร์​ รพ.ร้อยเอ็ด (v.1.0)
    </div> -->
  </mat-sidenav-content>

</mat-sidenav-container>
}
<!-- SideBar -->
