.content {
  padding: 24px;
}

.sidenav {
  width: 240px;
 /* Ensure the sidenav does not shrink */
 flex-shrink: 0 !important;
}

.sidenav-header {
  position: sticky;
  top: 0;
  z-index: 1;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  box-shadow:0 1px 4px 1px rgb(0, 0, 0, 0.12);

  left: 0;
  width: 100%;
  z-index: 1000;
}

.mat-progress-bar {
  z-index: 1000;

}

.mat-drawer-content {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-mdc-list-item.active {
  background-color: #e0e0e0 !important;
  font-weight: bold!important;
}


// REH STYLE
.reh-spacer {
  flex: 1 1 auto;
}

.reh-content {
  padding: 16px;
  background-color: #fff;
  // display: block;
  // width: 100%;
}

.reh-profile-content {
  border-bottom: 1px solid rgb(0, 0, 0, 0.12);
  box-sizing: border-box;
  position: relative;
  padding: 16px;
  display: flexbox;
  display: flex;
  flex-direction: row;
}
.reh-profile-avatar {
  height: 40px;
  width: 40px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
}
.reh-profile-content-title {
  min-width: 0;
  display: flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 196px;
}



.footer-content {
  border-top: solid 1px #c4c6d0;
  bottom: 0;
  display: flex;
  // position: fixed;
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.sidenav-header {
  padding-top: 24px;
  text-align: center;

  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .header-text {
    height: 4rem;
    > h2 {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    > p {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}


.sidenav-content {
  padding: 0px 12px 0px 12px;
  height: calc(100vh - 300px);
  overflow: hidden;
  scrollbar-color: transparent transparent;
  box-sizing: border-box;
  scrollbar-width: thin;
  margin-top: 12px;
}

.hide-sidenav-content {
  height: calc(100vh - 150px);
}

.sidenav-content:hover {
  // overflow-y: auto;
  // overflow: hidden;

  flex: 1;
  flex-basis: 0.000000001px;
  overflow-y: auto;
  scrollbar-color: #909090 transparent;
  scrollbar-width: thin;
}

.hide-header-text {
  opacity: 0;
  height: 0px !important;
}

.active-link {
  font-weight: bold;
  color: #3f51b5; /* สีที่คุณต้องการ */
}
