@import '../../../../../theme.scss';

.example-container {
  height: calc(100vh - 236px);
  overflow: auto;
}

table.accept {
  width: 1200px;
}

td.mat-column-star {
  width: 620px;
  padding-right: 24px;
}


tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
  cursor: pointer;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking-text {
  animation: blink 1s infinite;
}


