<div
  mat-dialog-title
  style="display: flex; align-items: center;justify-content: center;height: 48px;"
>
  <span class="mat-headline-5 btn-action-blue mb-0">จ่ายงาน เลขที่ : {{this._Id}}</span>

</div>
<mat-divider></mat-divider>
<form  [formGroup]="formAccessible" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="lj-viewer-wrapper">
      <div class="row">
        <div class="col-12">
            <span class="mat-headline-6 reh-txt-blue900">รายละเอียดขอใช้เปล</span>
            <mat-divider></mat-divider>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span class="mat-subtitle-2">ชื่อ: </span
          ><span class="mat-subtitle-1">{{_data?.od_rem}}</span>
        </div>
        <div class="col-6">
          <span class="mat-subtitle-2">วันที่เวลา: </span
          ><span class="mat-subtitle-1">{{formatDateThai(_data?.go_date)}} {{_data?.go_time}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span class="mat-subtitle-2">ประเภท: </span>
          @if(_data?.quick == 1){
            <span class="reh-txt-green mat-subtitle-1">{{_data?.quick_name}}</span>
          }@else if(_data?.quick == 2){
            <span class="reh-txt-yellow mat-subtitle-1">{{_data?.quick_name}}</span>
          }@else if(_data?.quick == 3){
            <span class="reh-txt-red mat-subtitle-1">{{_data?.quick_name}}</span>
          }@else {
            <span class="reh-txt-blue mat-subtitle-1">{{_data?.quick_name}}</span>
          }

        </div>
        <div class="col-6">
          <span class="mat-subtitle-2">อุปกรณ์: </span
          ><span class="mat-subtitle-1">{{_data?.equip_name}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="mat-subtitle-2">จุดรับ: </span
          ><span class="mat-subtitle-1">{{_data?.wcode_staname}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="mat-subtitle-2">จุดส่ง: </span
          ><span class="mat-subtitle-1">{{_data?.wcode_stoname}}</span>
        </div>
      </div>
    </div>

    <div class="lj-viewer-wrapper">
      <div class="row mt-2 mb-3">
        <div class="col-12">
            <span class="mat-headline-6 reh-txt-blue900"
              >รับและจ่ายงานให้ จนท.เปล นัดรับผู้ป่วย</span
            >
            <mat-divider></mat-divider>

        </div>
      </div>
      <div class="row g-3 py-2" >
        {{ personOprions | json}}
        @for (item of personOprions(); track $index) {
          <div class="col-4">
            <mat-card class="reh-card card-with-badge p-2"  matTooltip="คลิกจ่ายงาน" (click)="sendJobRider(item.id)">
              <div class="badge-container  reh-badge-blue" matBadge="{{item.total}}"  matBadgeSize="medium"></div>
              <div class="row" align="center">
                <div class="col-12">
                  <img mat-card-image class="reh-card-img" [src]="assets.assets()+'/images/account.png' " alt="Photo of a Shiba Inu">
                </div>
              </div>
              <mat-divider class="mt-2"></mat-divider>
              <mat-card-footer align="center">
                <mat-card-subtitle>{{item.fullname}}</mat-card-subtitle>
              </mat-card-footer>
            </mat-card>
          </div>
        }
        <!-- <div class="col-4">
          <mat-card class="reh-card card-with-badge p-2"  matTooltip="คลิกจ่ายงาน">
            <div class="badge-container  reh-badge-blue" matBadge="4"  matBadgeSize="medium"></div>
            <div class="row" align="center">
              <div class="col-12">
                <img mat-card-image class="reh-card-img" [src]="assets.assets()+'/images/account.png' " alt="Photo of a Shiba Inu">
              </div>
            </div>
            <mat-divider class="mt-2"></mat-divider>
            <mat-card-footer align="center">
              <mat-card-subtitle>นายชุมพล ผดุงกิจ</mat-card-subtitle>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-4">
          <mat-card class="reh-card card-with-badge p-2"  matTooltip="คลิกจ่ายงาน">
            <div class="badge-container  reh-badge-blue" matBadge="4"  matBadgeSize="medium"></div>
            <div class="row" align="center">
              <div class="col-12">
                <img mat-card-image class="reh-card-img" [src]="assets.assets()+'/images/account.png' " alt="Photo of a Shiba Inu">
              </div>
            </div>
            <mat-divider class="mt-2"></mat-divider>
            <mat-card-footer align="center">
              <mat-card-subtitle>นายชุมพล ผดุงกิจ</mat-card-subtitle>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-4">
          <mat-card class="reh-card card-with-badge p-2"  matTooltip="คลิกจ่ายงาน">
            <div class="badge-container  reh-badge-blue" matBadge="4"  matBadgeSize="medium"></div>
            <div class="row" align="center">
              <div class="col-12">
                <img mat-card-image class="reh-card-img" [src]="assets.assets()+'/images/account.png' " alt="Photo of a Shiba Inu">
              </div>
            </div>
            <mat-divider class="mt-2"></mat-divider>
            <mat-card-footer align="center">
              <mat-card-subtitle>นายชุมพล ผดุงกิจ</mat-card-subtitle>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-4">
          <mat-card class="reh-card card-with-badge p-2"  matTooltip="คลิกจ่ายงาน">
            <div class="badge-container  reh-badge-blue" matBadge="4"  matBadgeSize="medium"></div>
            <div class="row" align="center">
              <div class="col-12">
                <img mat-card-image class="reh-card-img" [src]="assets.assets()+'/images/account.png' " alt="Photo of a Shiba Inu">
              </div>
            </div>
            <mat-divider class="mt-2"></mat-divider>
            <mat-card-footer align="center">
              <mat-card-subtitle>นายชุมพล ผดุงกิจ</mat-card-subtitle>
            </mat-card-footer>
          </mat-card>
        </div>
        <div class="col-4">
          <mat-card class="reh-card card-with-badge p-2"  matTooltip="คลิกจ่ายงาน">
            <div class="badge-container  reh-badge-blue" matBadge="4"  matBadgeSize="medium"></div>
            <div class="row" align="center">
              <div class="col-12">
                <img mat-card-image class="reh-card-img" [src]="assets.assets()+'/images/account.png' " alt="Photo of a Shiba Inu">
              </div>
            </div>
            <mat-divider class="mt-2"></mat-divider>
            <mat-card-footer align="center">
              <mat-card-subtitle>นายชุมพล ผดุงกิจ</mat-card-subtitle>
            </mat-card-footer>
          </mat-card>
        </div> -->
      </div>
  </div>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="center">
    <!-- <button mat-button (click)="onNoClick()">ยกเลิก</button> -->
    <button
      mat-fab
      extended
      class="reh-btn-red" (click)="onNoClick()">
      <mat-icon fontSet="material-icons-outlined">close</mat-icon>
      ปิดหน้าจอ
    </button>

    <!-- <button mat-button  type="submit" cdkFocusInitial>บันทึก</button> -->
    <!-- <button
      mat-stroked-button
      class="reh-btn-green"
      type="submit"
      cdkFocusInitial
    >
      <mat-icon fontSet="material-icons-outlined">send_to_mobile</mat-icon>
      จ่ายงาน
    </button> -->
  </mat-dialog-actions>
</form>
