@if(item().route != 'null'){
  <a
  mat-list-item
  class="menu-item"
  [routerLink]="item().route"
  (click)="toggleNested()"
  routerLinkActive
  routerLinkActive="selected-menu-item"
  #rla="routerLinkActive"
  [activated]="rla.isActive"
  [matTooltip]="collapsed() ? item().label :'' "
  matTooltipPosition="below"
  [style.width]="sideBarPicSize()"
  >
  <mat-icon
    style="margin-left: 8px;"
    [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
    matListItemIcon
    >{{ item().icon }}</mat-icon
  >
  @if(!collapsed()){
    <span matListItemTitle *ngIf="!collapsed()">{{ item().label }}</span>
  }

  @if(item().subItems){
    <span matListItemMeta>
      @if(nestedMenuOpen()){
        <mat-icon style="margin-top: 8px;">expand_less</mat-icon>
      }@else {
        <mat-icon style="margin-top: 8px;">expand_more</mat-icon>
      }
    </span>
  }
  </a>
  @if(item().subItems && nestedMenuOpen()){
    <div @expandContractMenu>
      @for(subItem of item().subItems; track subItem.label){
        <a
          mat-list-item
          class="menu-item"
          [class.indented]="!collapsed()"
          [routerLink]="item().route+'/'+ subItem.route"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
          [matTooltip]="collapsed() ? subItem.label :'' "
          [matTooltipPosition]="'right'"
          [style.width]="sideBarPicSize()"
          >
          <!-- style="margin-left: 8px;" -->
          <mat-icon
            [class.hide-header-icon]="collapsed()"
            [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
            matListItemIcon
            >{{ subItem.icon }}</mat-icon
          >
          @if(!collapsed()){
            <span matListItemTitle *ngIf="!collapsed()">{{ subItem.label }}</span>
          }
        </a>
        }
    </div>
  }
}@else{
  <a
  mat-list-item
  class="menu-item"
  (click)="toggleNested()"
  routerLinkActive
  routerLinkActive="selected-menu-item"
  #rla="routerLinkActive"
  [activated]="rla.isActive"
  [matTooltip]="collapsed() ? item().label :'' "
  matTooltipPosition="below"
  [style.width]="sideBarPicSize()"
  >
  <mat-icon
    style="margin-left: 8px;"
    [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
    matListItemIcon
    >{{ item().icon }}</mat-icon
  >
  @if(!collapsed()){
    <span matListItemTitle *ngIf="!collapsed()">{{ item().label }}</span>
  }

  @if(item().subItems){
    <span matListItemMeta>
      @if(nestedMenuOpen()){
        <mat-icon style="margin-top: 8px;">expand_less</mat-icon>
      }@else {
        <mat-icon style="margin-top: 8px;">expand_more</mat-icon>
      }
    </span>
  }
  </a>
  @if(item().subItems && nestedMenuOpen()){
    <div @expandContractMenu>
      @for(subItem of item().subItems; track subItem.label){
        <a
          mat-list-item
          class="menu-item"
          [class.indented]="!collapsed()"
          [routerLink]="subItem.route"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
          [matTooltip]="collapsed() ? subItem.label :'' "
          [matTooltipPosition]="'right'"
          [style.width]="sideBarPicSize()"
          >
          <!-- style="margin-left: 8px;" -->
          <mat-icon
            [class.hide-header-icon]="collapsed()"
            [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
            matListItemIcon
            >{{ subItem.icon }}</mat-icon
          >
          @if(!collapsed()){
            <span matListItemTitle *ngIf="!collapsed()">{{ subItem.label }}</span>
          }
        </a>
        }
    </div>
  }
}
