<!-- Header -->
<mat-toolbar class="mat-elevation-z3" color="primary">
  <a
    mat-icon-button
    #toggleButton
    (click)="isMenuOpened.set(!isMenuOpened())"
    [matTooltip]="!isMenuOpened() ? 'ขยายเมนู' : 'ยุบเมนู'"
    matTooltipPosition="below"
  >
    <mat-icon>menu</mat-icon>
  </a>

  <span style="margin-left: 12px" class="title_logo">{{titleApp}}</span>
  <span class="reh-spacer"></span>


  <button
    mat-icon-button
    [matMenuTriggerFor]="avatarMenu"
    matTooltip="บัญชี"
    matTooltipPosition="below"
  >
    <img src="/assets/images/account.png" alt="Avatar" class="avatar" />
  </button>
</mat-toolbar>


<mat-menu #avatarMenu="matMenu">

  <div class="reh-profile-content">
    <img
      src="/assets/images/account.png"
      alt="Avatar"
      class="avatar reh-profile-avatar"
    />
    <div class="reh-profile-content-title">
      <label class="mat-subtitle-2">{{isUserProfile().fullname}} [{{isUserProfile().role}}]</label>
      <label class="mat-subtitle-1 mb-0">{{isUserProfile().depart_name}}</label>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- <button mat-menu-item>
    <mat-icon class="material-icons-outlined">person</mat-icon>
    <span>ข้อมูลส่วนตัว</span>
  </button>
  <button mat-menu-item>
    <mat-icon class="material-icons-outlined">settings</mat-icon>
    <span>การตั้งค่า</span>
  </button> -->
  <button mat-menu-item (click)="logout()">
    <mat-icon class="material-icons-outlined">logout</mat-icon>
    <span>ออกจากระบบ</span>
  </button>
</mat-menu>
<!-- ./Header -->

<!-- SideBar LG -->
<mat-sidenav-container [hasBackdrop]="isBackDrop()" autosize>
  <mat-sidenav
    mode="side"
    opened
    (opened)="onDrawerOpened()"
    (closed)="onDrawerClosed()"
    [style.width]="sidenavWidth()"
  >

  <div class="sidenav-header">

    @if(isMenuOpened()){
      <img
      [width]="32"
      [height]="32"
      src="/assets/images/account.png"
      />
    }@else {
      <img
      [width]="64"
      [height]="64"
      src="/assets/images/account.png"
      />
      <div class="header-text" >
        <h2 >{{isUserProfile().fullname}} </h2>
        <p>[{{isUserProfile().role}}]</p>
        <p>{{isUserProfile().depart_name}}</p>
      </div>
    }
  </div>
  <mat-nav-list role="list" class="sidenav-content" >
    <a
      mat-list-item
      class="menu-item"
      routerLink="dashboard"
      (click)="isMenuActive.set('dashboard')"
      routerLinkActive
      routerLinkActive="selected-menu-item"
      #rla="routerLinkActive"
      [activated]="isMenuActive() == 'dashboard' ? true : false"
      [matTooltip]="isMenuOpened() ? 'แดชบอร์ด' :'' "
      matTooltipPosition="below"
    >
    <mat-icon
      style="margin-left: 8px;"
      [fontSet]="isMenuActive() == 'dashboard' ?'material-icons-outlined': 'material-icons'"
      matListItemIcon
      >dashboard</mat-icon
    >

    @if(!collapsed()){
      <span matListItemTitle *ngIf="!collapsed()">แดชบอร์ด</span>
    }

    </a>

    <a
      mat-list-item
      class="menu-item"
      routerLink="accessible"
      (click)="isMenuActive.set('accessible')"
      routerLinkActive
      routerLinkActive="selected-menu-item"
      #rla="routerLinkActive"
      [activated]="isMenuActive() == 'accessible' ? true : false"
      [matTooltip]="isMenuOpened() ? 'ขอใช้เปล' :'' "
      matTooltipPosition="below"
    >
    <mat-icon
      style="margin-left: 8px;"
      [fontSet]="isMenuActive() == 'accessible' ?'material-icons-outlined': 'material-icons'"
      matListItemIcon
      >comment</mat-icon
    >

    @if(!collapsed()){
      <span matListItemTitle *ngIf="!collapsed()">ขอใช้เปล</span>
    }

    </a>

    <a
    mat-list-item
    class="menu-item"
    routerLink="reports"
    (click)="isMenuActive.set('reports')"
    routerLinkActive
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="isMenuActive() == 'reports' ? true : false"
    [matTooltip]="isMenuOpened() ? 'รายงาน' :'' "
    matTooltipPosition="below"
  >
  <mat-icon
    style="margin-left: 8px;"
    [fontSet]="isMenuActive() == 'reports' ?'material-icons-outlined': 'material-icons'"
    matListItemIcon
    >analytics</mat-icon
  >

  @if(!collapsed()){
    <span matListItemTitle *ngIf="!collapsed()">รายงาน</span>
  }

  </a>

    <a
    mat-list-item
    class="menu-item"
    routerLink="jobs"
    [matTooltip]="isMenuOpened() ? 'คู่มือการใช้งาน' :'' "
    matTooltipPosition="below"

    >
    <mat-icon
      style="margin-left: 8px;"
      matListItemIcon
      >book_2</mat-icon
    >

    @if(!collapsed()){
      <span matListItemTitle *ngIf="!collapsed()">คู่มือการใช้งาน</span>
    }

  </a>
    <a
      mat-list-item
      class="menu-item"
      routerLink="jobs"
      [matTooltip]="isMenuOpened() ? 'ออกจากระบบ' :'' "
      matTooltipPosition="below"
      (click)="logout()"
      >
      <mat-icon
        style="margin-left: 8px;"

        matListItemIcon
        >logout</mat-icon
      >

      @if(!collapsed()){
        <span matListItemTitle *ngIf="!collapsed()">ออกจากระบบ</span>
      }

    </a>
  </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content  class="reh-content"  [style.margin-left]="sidenavWidth()">

      <div class="container-fluid " style="padding-right: 0px !important; padding-left: 0px !important;">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>

    <!-- <div class="footer-content bg-light text-muted fw-bold">
      © 2024 ศูนย์คอมพิวเตอร์​ รพ.ร้อยเอ็ด (v.1.0)
    </div> -->
  </mat-sidenav-content>

</mat-sidenav-container>

<!-- SideBar -->
