<div
  mat-dialog-title
  style="display: flex; align-items: center;height: 48px;justify-content: center;"
>
  <span class="mat-headline-5 btn-action-green mb-0">ปิดงาน เลขที่ : J1000</span>

</div>
<mat-divider></mat-divider>
<form class="reh-form-sm" [formGroup]="formAccessible" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="lj-viewer-wrapper">
      <div class="row">
        <div class="col-12">
            <span class="mat-headline-6 reh-txt-blue900">รายละเอียดขอใช้เปล</span>
            <mat-divider></mat-divider>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <span class="mat-subtitle-2">ชื่อ: </span
          ><span class="mat-subtitle-1">น.ส.เกษร เหนือโท</span>
        </div>
        <div class="col-6">
          <span class="mat-subtitle-2">เวลา: </span
          ><span class="mat-subtitle-1">11:20</span>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span class="mat-subtitle-2">ประเภท: </span
          ><span class="reh-txt-green mat-subtitle-1">ปกติ [0-60]</span>
        </div>
        <div class="col-6">
          <span class="mat-subtitle-2">อุปกรณ์: </span
          ><span class="mat-subtitle-1">เปลนอน</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="mat-subtitle-2">จุดรับ: </span
          ><span class="mat-subtitle-1">มาเอง</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="mat-subtitle-2">จุดส่ง: </span
          ><span class="mat-subtitle-1">ส่งผู้ป่วยกลับบ้าน</span>
        </div>
      </div>
    </div>

    <div class="lj-viewer-wrapper">
      <div class="row mt-2 mb-3">
        <div class="col-12">
            <span class="mat-headline-6 reh-txt-blue900"
              >รายละเอียด จนท.เปล</span
            >
            <mat-divider></mat-divider>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span class="mat-subtitle-2">รหัสเจ้าหน้าที่: </span><span class="mat-subtitle-1">OP00001</span>
        </div>
        <div class="col-6 text-end">
          <span class="mat-subtitle-2">ชื่อ: </span><span class="mat-subtitle-1">นายชุมพล ผดุงกิจ</span>

        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <span class="mat-subtitle-2">ขอใช้เปล [วอร์ด]</span>
        </div>
        <div class="col-2" align="end">
          <span class="mat-subtitle-2">11:20</span>
        </div>
        <div class="col-6">
          <span class="reh-txt-green mat-subtitle-2">ปกติ [0-60] นาที</span>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <span class="mat-subtitle-2">จ่ายงาน [ศูนย์]</span>
        </div>
        <div class="col-2" align="end">
          <span class="mat-subtitle-2">11:20</span>
        </div>
        <div class="col-6">
          <span class="mat-subtitle-2">เวลา 1 นาที</span>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <span class="mat-subtitle-2">รับงาน [จนท]</span>
        </div>
        <div class="col-2" align="end">
          <span class="mat-subtitle-2">-</span>
        </div>
        <div class="col-6">
          <button mat-fab extended class="reh-btn-blue mb-2" style="width: 156px;">
            <mat-icon fontSet="material-icons-outlined" >system_security_update</mat-icon>
            <span class="mat-subtitle-2">คลิกรับงาน</span></button>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <span class="mat-subtitle-2">ปิดงาน [จนท]</span>
        </div>
        <div class="col-2" align="end">
          <span class="mat-subtitle-2">-</span>
        </div>
        <div class="col-6">
          <button mat-fab extended class="reh-btn-green disabled" style="width: 156px;" disabled>
            <mat-icon fontSet="material-icons-outlined" >system_security_update_good</mat-icon>
            <span class="mat-subtitle-2">คลิกปิดงาน</span></button>
        </div>
      </div>
      <div class="row">
        <div class="col-6" align="end">
          <span class="mat-subtitle-2">รวมระยะเวลา</span>
        </div>

        <div class="col-6">
          <span class="mat-subtitle-2">เวลา 10  นาที</span>
        </div>
      </div>
    </div>


  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="center">
    <button mat-fab extended class="reh-btn-red" (click)="onNoClick()">
      <mat-icon fontSet="material-icons-outlined">close</mat-icon>
      <span class="mat-subtitle-2">ปิดหน้าจอ</span>
    </button>


  </mat-dialog-actions>
</form>
