<div mat-dialog-title style="display: flex; align-items: center;justify-content: center; height: 48px">
  <span class="mat-headline-5 btn-action-green mb-0">ขอใช้เปลใหม่ ({{this.type_io()}})</span>
</div>
<mat-divider></mat-divider>
<form [formGroup]="formAccessible" (ngSubmit)="onSubmit()" class="reh-form-sm">
  <mat-dialog-content style="max-height: 75vh;">
    <div class="lj-viewer-wrapper">
      <mat-tab-group dynamicHeight class="ct-tab-group" (selectedTabChange)="onTabClick($event)">
        <mat-tab >
          <ng-template mat-tab-label>
            <span class="mat-headline-6 reh-txt-blue900"
              >ประเภทผู้ป่วย IPD</span
            >
          </ng-template>

          <div class="p-2">
            <div class="row">
              <div class="col-6">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>HN</mat-label>
                  <input

                    matInput
                    name="hn"
                    placeholder="HN (ผู้ป่วยที่ให้ไปรับ ถ้ามี กด Enter)"
                    aria-label="hn label "
                    formControlName="hn"
                    required
                    (keydown)="onKeyDown($event)"
                  />

                  <mat-error
                    *ngIf="
                      formAccessible.get('hn')?.invalid ||
                      formAccessible.get('hn')?.touched
                    "
                  >
                    *โปรดระบุ (ผู้ป่วยที่ให้ไปรับ ถ้ามี กด Enter)</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>ชื่อ-สกุล</mat-label>
                  <input

                    matInput
                    name="od_rem"
                    placeholder="ชื่อ-สกุล"
                    aria-label="od_rem label "
                    formControlName="od_rem"
                    required
                  />
                  <mat-error
                    *ngIf="
                      formAccessible.get('od_rem')?.invalid ||
                      formAccessible.get('od_rem')?.touched
                    "
                  >
                    *โปรดระบุ ระบุ ชื่อ-สกุล</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
            <span class="mat-headline-6 reh-txt-blue900"
              >ประเภทผู้ป่วย OPD</span
            >
          </ng-template>
          <div class="p-2">
            <div class="row">
              <div class="col-12">
                <mat-form-field class="reh-input-full-width">
                  <mat-label>เลือก ประเภทนำส่ง</mat-label>
                  <mat-select formControlName="opdtype">
                    @for (opd of optionOpdType; track opd) {
                    <mat-option [value]="opd.opd_type_id">{{ opd.opd_type_name }}</mat-option>
                    }
                  </mat-select>

                  <mat-error
                    *ngIf="
                      formAccessible.get('opdtype')?.invalid ||
                      formAccessible.get('opdtype')?.touched
                    "
                  >
                    *โปรดเลือก ประเภทนำส่ง</mat-error
                  >
                </mat-form-field>

              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="lj-viewer-wrapper">
      <div class="row">
        <div class="col-12">
          <span class="mat-headline-6 reh-txt-blue900">ประเภทความเร่งด่วน</span>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-radio-group formControlName="quicks" color="primary" class="cto-radio-group">
            @for (option of optionQuicks; track option) {
              <mat-radio-button [value]="option.quick_id" class="cto-radio-button">
                <div class="reh-txt-blue">
                  <strong>{{ option.quick_name }}</strong>
                </div>
              </mat-radio-button>
            }
          </mat-radio-group>

        </div>
      </div>
      <div class="row" align="center">
        <div class="col-12">


          @if(formAccessible.get('quicks')?.invalid){
            <mat-error>*โปรดเลือก ความเร่งด่วน</mat-error>
          }

        </div>
      </div>
    </div>

    <div class="lj-viewer-wrapper">
      <div class="row">
        <div class="col-12">
          <span class="mat-headline-6 reh-txt-blue900">ประเภทอุปกรณ์</span>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="reh-input-full-width mt-2">
            <mat-label>เลือก ประเภทอุปกรณ์</mat-label>
            <mat-select formControlName="equips">
              @for (option of optionEquips; track option) {
                <mat-option [value]="option.equip_id"> {{ option.equip_name }}</mat-option>
              }
            </mat-select>


            <mat-error
              *ngIf="
                formAccessible.get('equips')?.invalid ||
                formAccessible.get('equips')?.touched
              "
            >
              *โปรดเลือก ประเภทอุปกรณ์</mat-error
            >
          </mat-form-field>

        </div>
      </div>
    </div>

    <div class="lj-viewer-wrapper">
      <div class="row">
        <div class="col-12">
          <span class="mat-headline-6 reh-txt-blue900"
            >จุด รับ-ส่ง ผู้ป่วย</span
          >
          <mat-divider></mat-divider>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <mat-form-field class="reh-input-full-width mt-2">
            <mat-label>เลือก จุดรับผู้ป่วย</mat-label>

            <mat-select formControlName="wcode_sta">
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="searchControl"
                  placeholderLabel="ค้นหา จุดรับผู้ป่วย"
                  [preventHomeEndKeyPropagation]="true"
                >
                  <span ngxMatSelectNoEntriesFound> ไม่พบข้อมูล </span>
                </ngx-mat-select-search>
              </mat-option>
              @for (option of filteredOptionsDepart | async; track option) {
              <mat-option [value]="option.ward_id"> {{ option.ward_name }}</mat-option>
              }
            </mat-select>

            <mat-error
              *ngIf="
                formAccessible.get('wcode_sta')?.invalid ||
                formAccessible.get('wcode_sta')?.touched
              "
            >
              *โปรดเลือก จุดรับผู้ป่วย</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <mat-form-field class="reh-input-full-width mt-1">
            <mat-label>เลือก จุดส่งผู้ป่วย</mat-label>

            <mat-select formControlName="wcode_sto">
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="searchControl"
                  placeholderLabel="ค้นหา จุดส่งผู้ป่วย"
                  [preventHomeEndKeyPropagation]="true"
                >
                  <span ngxMatSelectNoEntriesFound> ไม่พบข้อมูล </span>
                </ngx-mat-select-search>
              </mat-option>
              @for (option of filteredOptionsDepart | async; track option) {
                <mat-option [value]="option.ward_id"> {{ option.ward_name }}</mat-option>
              }
            </mat-select>

            <mat-error
              *ngIf="
                formAccessible.get('wcode_sto')?.invalid ||
                formAccessible.get('wcode_sto')?.touched
              "
            >
              *โปรดเลือก จุดส่งผู้ป่วย</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="lj-viewer-wrapper">
      <div class="row">
        <div class="col-12">
          <span class="mat-headline-6 reh-txt-blue900">ประเภทเวร</span>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div class="row" align="center">
        <div class="col-12 text-center">
            <mat-radio-group formControlName="work" color="primary">
              <mat-radio-button
                *ngFor="let option of optionWork"
                [value]="option.time_workid"
              >
                <strong>{{ option.time_workname }}</strong>
              </mat-radio-button>
            </mat-radio-group>

        </div>
      </div>
      <div class="row" align="center">
        <div class="col-12">
          @if(formAccessible.get('work')?.invalid){
            <mat-error>*โปรดเลือก ประเภทเวร</mat-error>
          }

        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions class="row">

      <div class="col-6">
        <button mat-fab extended class="reh-btn-red" (click)="onNoClick()">
          <mat-icon fontSet="material-icons-outlined">close</mat-icon>
          <span class="mat-subtitle-2">ปิดหน้าจอ</span>
        </button>
      </div>
      <div class="col-6" align="end">
        <button
        mat-fab
        extended
        class="reh-btn-green"
        type="submit"
        cdkFocusInitial
      >
        <mat-icon fontSet="material-icons-outlined">add</mat-icon>
        <span class="mat-subtitle-2">คำขอใช้เปลใหม่</span>
      </button>
      </div>



  </mat-dialog-actions>
</form>
