@import '../../../../theme.scss';

.example-container {
  height: calc(100vh - 236px);
  overflow: auto;
}

table.monitor {
  width: 1200px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

td.mat-column-type {
  width: 36px;
  padding-right: 8px;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
  cursor: pointer;
}

.btn-action {
  color:var(--primary-color) !important;
}

.btn-action-blue {
  color:var(--primary-color) !important;
}
.btn-action-green {
  color:var(--green-color) !important;
}
.btn-action-red {
  color:var(--red-color) !important;
}

