<form>
    <div class="row">
      <div class="col-12">
        <div class="h3">ขอใช้เปล : ผู้ป่วยนอก ( OPD ) วันนี้ 16/08/2567 16:26</div>
      </div>
    </div>

    <div class="row row-gap-xs-3 row-gap-sm-3 row-gap-md-3 ">

      <!-- รับ-จ่ายงาน -->
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-body" style="padding: 0px !important;">
            <div class="row align-items-center" style="padding: 10px;">
              <div class="col-6">
                <span class="h4">รับ-จ่ายงาน</span>



              </div>
              <div class="col-6 text-end">
                <button mat-stroked-button class="reh-btn-green">
                  <mat-icon fontSet="material-icons-outlined">add</mat-icon>
                  คำขอใช้เปลใหม่</button>
              </div>
            </div>
            <mat-divider>
            </mat-divider>
            <div class="row">
              <div class="col-12">
                <section class="example-container" tabindex="0">
                  <table mat-table class="accept" [dataSource]="dataSource">
                    <ng-container matColumnDef="star" sticky>
                      <th mat-header-cell *matHeaderCellDef aria-label="row actions" style="text-align: center;"><strong>#</strong></th>
                      <td mat-cell *matCellDef="let element" style="pointer-events: none">
                        <button mat-icon-button  [matMenuTriggerFor]="menu" matTooltip="เพิ่มเติม"  class="btn-action" (click)="onButtonClick(element, $event)" style="pointer-events: auto;">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item class="btn-action-blue">
                            <mat-icon fontSet="material-icons-outlined" class="btn-action-blue">send_to_mobile</mat-icon>
                            <strong>จ่ายงาน</strong>
                          </button>

                          <button mat-menu-item class="btn-action-red">
                            <mat-icon fontSet="material-icons-outlined" class="btn-action-red">phonelink_erase</mat-icon>
                            <strong>ยกเลิก</strong>
                          </button>
                        </mat-menu>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> <strong>ประเภท</strong> </th>
                      <td mat-cell *matCellDef="let element">

                          <mat-chip style="width: 96px;" [class]="{
                            'reh-chip-green' : element.type_id == 1,
                            'reh-chip-yellow' : element.type_id == 2,
                            'reh-chip-orange' : element.type_id == 3,
                            'reh-chip-red' : element.type_id == 4,
                          }">
                            <span class="label">{{element.type}}</span>
                          </mat-chip>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef > <strong>ชื่อ</strong> </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="equipment">
                      <th mat-header-cell *matHeaderCellDef > <strong>อุปกรณ์</strong> </th>
                      <td mat-cell *matCellDef="let element"> {{element.equipment}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="in">
                      <th mat-header-cell *matHeaderCellDef> <strong>รับ-ส่ง</strong> </th>
                      <td mat-cell *matCellDef="let element">
                        <div class="row">
                          <div class="col-12"><strong>รับ:</strong> {{element.in}} </div>
                          <div class="col-12"><strong>ส่ง:</strong> {{element.out}} </div>
                        </div>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef > <strong>รับงาน</strong> </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="h4"> {{element.time}}</span>
                      </td>
                    </ng-container>

                    <tr mat-header-row  *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row (click)="clickedJob(row)" class="example-element-row"   *matRowDef="let row; columns: displayedColumns;">

                    </tr>
                  </table>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ติดตาม-สถานะ-->
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-body" style="padding: 0px !important;">
            <div class="row align-items-center" style="padding: 10px;">
              <div class="col-12 pb-2">
                <span class="h4">ติดตาม-สถานะ</span>
              </div>
            </div>
            <mat-divider>
            </mat-divider>
            <div class="row">
              <div class="col-12">
                <section class="example-container" tabindex="0">
                  <table class="monitor" mat-table [dataSource]="dataSourceMoni">
                    <ng-container matColumnDef="star" sticky>
                      <th mat-header-cell *matHeaderCellDef aria-label="row actions" style="text-align: center;"><strong>#</strong></th>
                      <td mat-cell *matCellDef="let element" style="pointer-events: none">
                        <button mat-icon-button [matMenuTriggerFor]="menu"  class="btn-action" (click)="onButtonClick(element, $event)" style="pointer-events: auto;"
                        matTooltip="เพิ่มเติม"
                        >
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item [disabled]="element.status_id == 2 ? true : false" [class]="element.status_id == 1 ? 'btn-action-green':'' ">
                            <mat-icon fontSet="material-icons-outlined" [class]="element.status_id == 1 ? 'btn-action-green' : '' ">system_security_update_good</mat-icon>
                            <strong>ปิดงาน</strong>
                          </button>
                        </mat-menu>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="status" >
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> <strong>ประเภท</strong> </th>
                      <td mat-cell *matCellDef="let element">
                          <mat-chip style="width: 84px;" [class]="{
                            'reh-chip-green' : element.status_id == 2,
                            'reh-chip-blue' : element.status_id == 1
                          }">
                            <span class="label">{{element.status}}</span>
                          </mat-chip>

                      </td>
                    </ng-container>

                    <ng-container matColumnDef="type" >
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> <strong>ประเภท</strong> </th>
                      <td mat-cell *matCellDef="let element">
                          <mat-chip style="width: 96px;" [class]="{
                            'reh-chip-green' : element.type_id == 1,
                            'reh-chip-yellow' : element.type_id == 2,
                            'reh-chip-orange' : element.type_id == 3,
                            'reh-chip-red' : element.type_id == 4,
                          }">
                            <span class="label">{{element.type}}</span>
                          </mat-chip>

                      </td>
                    </ng-container>
                    <ng-container matColumnDef="date" >
                      <th mat-header-cell *matHeaderCellDef > <strong>จ่ายงาน</strong> </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="h4"> {{element.time}}</span>

                      </td>
                    </ng-container>
                    <ng-container matColumnDef="date_end" >
                      <th mat-header-cell *matHeaderCellDef > <strong>ปิดงาน</strong> </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="h4"> {{element.time_end}}</span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="officer" >
                      <th mat-header-cell *matHeaderCellDef > <strong>จนท.เปล</strong> </th>
                      <td mat-cell *matCellDef="let element"> {{element.officer}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef > <strong>ชื่อ</strong> </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>


                    <ng-container matColumnDef="equipment">
                      <th mat-header-cell *matHeaderCellDef > <strong>อุปกรณ์</strong> </th>
                      <td mat-cell *matCellDef="let element"> {{element.equipment}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="in">
                      <th mat-header-cell *matHeaderCellDef > <strong>รับ-ส่ง</strong> </th>
                      <td mat-cell *matCellDef="let element">
                        <div class="row">
                          <div class="col-12"><strong>รับ:</strong> {{element.in}} </div>
                          <div class="col-12"><strong>ส่ง:</strong> {{element.out}} </div>
                        </div>
                      </td>
                    </ng-container>



                    <tr mat-header-row  *matHeaderRowDef="displayedColumnsMoni; sticky: true"></tr>
                    <tr mat-row (click)="clickedJob(row)" class="example-element-row"   *matRowDef="let row; columns: displayedColumnsMoni;">

                    </tr>
                  </table>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>

