<mat-card class="flex items-center justify-center h-screen p-4" style="max-width:420px;">
  <div class="row">
    <div class="col-12" align="center">
      <img
        src="/assets/images/logo-moph-reh.png"
        style="width: 156px; height: 156px"
      />
    </div>
    <div class="col-12" align="center">
      <div class="mat-headline-5 reh-txt-yellow">การเข้าถึงถูกปฏิเสธ</div>
    </div>
    <div class="col-12" align="center">
      <div class="mat-headline-5 reh-txt-yellow">คุณไม่มีสิทธิในการเข้าถึงหน้านี้</div>
    </div>

    <div class="col-12" align="center">
      <button mat-raised-button color="primary" routerLink="/login">เข้าสู่ระบบ</button>
    </div>


  </div>



</mat-card>

