<div mat-dialog-title style="display: flex; align-items: center;justify-content: center; height: 48px">
  <span class="mat-headline-5 btn-action-red mb-0">
    <mat-icon class="reh-txt-red" style="margin-top: 8px;">close</mat-icon>
    ยกเลิก เลขที่ : {{_Id}}</span>
</div>
<mat-divider></mat-divider>
<form [formGroup]="formAccessible" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="lj-viewer-wrapper pb-2">
      <div class="row">
        <div class="col-12">
          <span class="mat-headline-6 reh-txt-blue900">
            <mat-icon class="reh-txt-blue900" style="margin-top: 8px;">wheelchair_pickup</mat-icon>
            รายละเอียดขอใช้เปล</span>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <span class="mat-subtitle-2">ชื่อ: </span
          ><span class="mat-subtitle-1">{{_data?.od_rem}}</span>
        </div>
        <div class="col-6">
          <span class="mat-subtitle-2">วันที่เวลา: </span
          ><span class="mat-subtitle-1">{{formatDateThai(_data?.go_date)}} {{_data?.go_time}} น.</span>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-2">
          <span class="mat-subtitle-2">ประเภท: </span>
        </div>
        <div class="col-10">
          <app-quick-chip
          [dataQuick]="{
            quick:_data?.quick,
            quick_color:_data?.quick_color,
            quick_name:_data?.quick_name,
            quick_details:_data?.quick_details,
          }"
          />

        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <span class="mat-subtitle-2">อุปกรณ์: </span
          ><span class="mat-subtitle-1">{{_data?.equip_name}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="mat-subtitle-2">จุดรับ: </span
          ><span class="mat-subtitle-1">{{_data?.wcode_staname}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="mat-subtitle-2">จุดส่ง: </span
          ><span class="mat-subtitle-1">{{_data?.wcode_stoname}}</span>
        </div>
      </div>
    </div>

    <div class="lj-viewer-wrapper">
      <div class="row">
        <div class="col-12">
          <span class="mat-headline-6 reh-txt-blue900">
            <mat-icon class="reh-txt-blue900" style="margin-top: 8px;">chat_info</mat-icon>
            สาเหตุการยกเลิก</span>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <mat-form-field class="reh-input-full-width">
            <mat-label>สาเหตุการยกเลิก</mat-label>
            <textarea
              matInput
              name="comment"
              placeholder="สาเหตุการยกเลิก"
              formControlName="comment"
            ></textarea>
            <mat-error
              *ngIf="
                formAccessible.get('comment')?.invalid ||
                formAccessible.get('comment')?.touched
              "
            >
              *โปรดระบุ ระบุ สาเหตุการยกเลิก</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions class="row">
    <div class="col-6">
      <button mat-fab extended class="reh-btn-red" (click)="onNoClick()">
        <mat-icon fontSet="material-icons-outlined">close</mat-icon>
        ปิดหน้าจอ
      </button>
    </div>
    <div class="col-6" align="end">
      <button
        mat-fab
        extended
        class="reh-btn-green"
        type="submit"
        cdkFocusInitial
      >
        <mat-icon fontSet="material-icons-outlined">phonelink_erase</mat-icon>
        ยืนยันยกเลิก
      </button>

    </div>




  </mat-dialog-actions>
</form>
