<div class="row">
  <div class="col-12">
    <span class="mat-headline-5">รายงาน</span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="reh-tab-icon">people</mat-icon>
          เจ้าหน้าที่
        </ng-template>
        Content 1
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="reh-tab-icon">domain_add</mat-icon>
          วอร์ด
        </ng-template>
        Content 2
      </mat-tab>


    </mat-tab-group>
  </div>
</div>
